/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 oct. 2016, 15:44:44
    Author     : Anaïs
*/
/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

#bonjourCo {
    padding-top: 10px;
    color: red;
}

#formCo {
    margin-top: 5px;
}

p {
    color: red;
}