<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>servlet.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinCréationClient</servlet-name>
        <servlet-class>servlet.FinCréationClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connection</servlet-name>
        <servlet-class>servlet.Connection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnection</servlet-name>
        <servlet-class>servlet.Deconnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreationCommande</servlet-name>
        <servlet-class>servlet.CreationCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoirCommandes</servlet-name>
        <servlet-class>servlet.VoirCommandes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreerBonCommande</servlet-name>
        <servlet-class>servlet.CreerBonCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerBonCommande</servlet-name>
        <servlet-class>servlet.SupprimerBonCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificationBonCommande</servlet-name>
        <servlet-class>servlet.ModificationBonCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierBonCommande</servlet-name>
        <servlet-class>servlet.ModifierBonCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsByCustomerInJSON</servlet-name>
        <servlet-class>servlet.ProductsByCustomerInJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Authentification</servlet-name>
        <servlet-class>servlet.Authentification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentification</servlet-name>
        <url-pattern>/Authentification</url-pattern>
        <url-pattern>/authentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinCréationClient</servlet-name>
        <url-pattern>/creationClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connection</servlet-name>
        <url-pattern>/Connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnection</servlet-name>
        <url-pattern>/Deconnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreationCommande</servlet-name>
        <url-pattern>/CreationCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoirCommandes</servlet-name>
        <url-pattern>/VoirCommandes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreerBonCommande</servlet-name>
        <url-pattern>/CreerBonCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerBonCommande</servlet-name>
        <url-pattern>/SupprimerBonCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificationBonCommande</servlet-name>
        <url-pattern>/ModificationBonCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierBonCommande</servlet-name>
        <url-pattern>/ModifierBonCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsByCustomerInJSON</servlet-name>
        <url-pattern>/ProductsByCustomerInJSON</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
